#contentsWrapper{
    display: flex;
    margin:20px;
    
}

#contents{
    display:flex;
    flex-flow:wrap;
    margin:0 auto;
    padding:20px;
    width:1000px;
    box-shadow: 1px 1px 10px 1px gray;
    background-color: white;
}

#contents>li{
    width:300px;
    height: 250px;
    margin-left:20px;
    margin-bottom:20px;
    background: white;
    border:1px dotted;
    text-align: center;
}

#contents>li img{
    max-width: 300px;
    max-height: 300px;
}

@media ( max-width: 1665px ) {
    #contents{
        width: 659px;
        flex-shrink: 0;

    }
}