#contentsWrapper{
    display: flex;
    margin:20px;
    
}

#contents{
    display:flex;
    flex-flow:wrap;
    margin:0 auto;
    padding:20px;
    border:1px solid;
    width:1000px;
}

#contents>li{
    border:1px solid;
    width:300px;
    height: 200px;
    margin-left:20px;
    margin-bottom:20px;

    background: white;
}