body{
    margin:0;
    background-color: rgb(255, 255, 251);
}

#mainlogo{
    width:500px;
    height: 121px;
    margin:0 auto;
    margin-bottom:30px;
    
}

.adBox1, .adBox2{
    flex-shrink: 0;
    position: sticky;
    top:200px;
    width:300px;
    height: 400px;
    border:1px dotted;
    background-color: white;
}

#adLongBox1{
    width: 728px;
    margin: 0 auto;
}

text{
    font-size:30px;
}

li{
    list-style: none;
}

a{
    color:black;
    text-decoration:none;
}

@media ( max-width: 900px ) {
    .adBox1, .adBox2{
        display:none;
    }
    
}