#sliderWrapper{
    margin:20px;
    background-color:white;
    flex-shrink: 0;
    box-shadow: 1px 1px 10px 1px gray;
    margin:0 auto;
}


#slider{
    display:flex;
    margin:20px;
    padding:20px;

}
#slider>li{
    flex-shrink: 0;
    width:250px;
    height: 330px;
    margin:0 auto;
    margin-left:20px;
    background: white;
    border:1px dotted;
    text-align: center;
    cursor: pointer;
}


#slider>li img{
    max-width: 250px;
    max-height: 300px;
}

@media (max-width: 1730px){
    #slider>li:nth-child(6){
        display:none;
    }

    #sliderWrapper{
        width:1475px;
    }


@media (max-width: 1465px){
    #slider>li:nth-child(5){
        display:none;
    }

    #sliderWrapper{
        width:1200px;
    }
    
}


@media (max-width: 1185px){
    #slider>li:nth-child(4){
        display:none;
    }

    #sliderWrapper{
        width:900px;
    }
    
}