#sliderWrapper{
    margin:20px;
    background-color:white;
    flex-shrink: 0;
    box-shadow: 1px 1px 10px 1px gray;
}


#slider{
    display:flex;
    margin:20px;
    padding:20px;

}
#slider>li{
    flex-shrink: 0;
    width:300px;
    height: 400px;
    margin:0 auto;
    margin-left:20px;
    background: white;
    border:1px dotted;
    text-align: center;
}

#slider>li img{
    max-width: 300px;
    max-height: 350px;
}

@media ( max-width: 1460px ) {
    #sliderWrapper{

    }
}

@media ( max-width: 1750px ) {
    #slider>li:nth-child(5){
        display:none;
    }
}

@media ( max-width: 1250px ) {
    #slider>li:nth-child(4){
        display:none;
    }
    
}

@media ( max-width: 1050px ) {
    #slider>li:nth-child(3){
        display:none;
    }

    #sliderWrapper{
        width: 760px;
    }
    
}


